APP_URL=http://localhost:8000
BLOG_API_URL=
BLOG_API_USERNAME=
BLOG_API_PASSWORD=
BLOG_API_ENABLE_CACHE=false
ENABLE_BLOG=true
BLOG_ENABLE_CACHE=true
BLOG_DOMAIN=
BLOG_SITE_URL=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
SQLITE_DATABASE=homie.db
DEFAULT_LANG=en
CACHE_TTL=3600
MAILER_DSN=smtp://user:pass@smtp.example.com:1234
DEBUG=false
ENABLE_BACKUP=false
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
AWS_ENDPOINT=
AWS_USE_PATH_STYLE_ENDPOINT=