APP_URL=http://localhost:8000
BLOG_API_URL=
BLOG_API_USERNAME=
BLOG_API_PASSWORD=
BLOG_API_ENABLE_CACHE=false
ENABLE_BLOG=true
BLOG_ENABLE_CACHE=true
BLOG_DOMAIN=
BLOG_SITE_URL=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
SQLITE_DATABASE=homie.db
DEFAULT_LANG=en
CACHE_TTL=3600
MAILER_DSN=mailgun+api://KEY:DOMAIN@default?region=REGION
DEBUG=false